@charset "utf-8";
/* CSS Document */


body { overflow-x: hidden; font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif; font-size: 1.6rem; line-height: 1.35; color: #000; }
.inner { max-width: 1640px; margin: 0 auto; padding: 0 20px; }

header { text-transform: uppercase; position: absolute; left: 0; top: 0; width: 100%; z-index: 999; padding-top: 30px;}
header .inner { display: flex; justify-content: space-between; align-items: center; }

header nav { margin: 0 50px 0 auto; }
header .gnb { display: flex; }
header .gnb > li > a { display: block; padding: 10px 30px; color: #fff; font-weight: 700; font-size: 2rem; }

header .btn_search { cursor: pointer; background: transparent; border: 0; }

header .btn_ham { display: none; cursor: pointer; background: transparent; }

.mgnb_wrap { display: none; z-index: 999999; position: fixed; right: 0; top: 0; width: 100%; height: 100%; background: #FFF; padding: 100px 50px 50px; }
.mgnb_wrap .mgnb > li { padding: 20px 0; border-bottom: 1px solid #ddd; text-transform: uppercase; }
.mgnb_wrap .mgnb_close { position: absolute; right: 0; top: 0; background:#000; padding: 10px 20px; color: #fff; font-size: 1.6rem; font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif; cursor: pointer; }

.search { display: none; width: 100%; height: 100%; background: url("../images/search_bg.jpg") no-repeat center / cover; position: fixed; left: 0; top: 0; z-index: 999; padding: 50px; }
.search > div { height: 100%; background: rgba(255,255,255,0.85); display: flex; align-items: center; justify-content: center; }
.search input[type="text"] { background: transparent; border-bottom: 3px solid #cbb390; width: 40vw; height: 60px; padding: 20px 10px; font-size: 2rem; font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif; }
.search input[type="text"]::placeholder { font-size: 3.5rem; color: #cbb390; }
.search input[type="submit"] { width: 50px; height: 60px; border-bottom: 3px solid #cbb390; background: transparent; font-size: 0; background: url("../images/ico_search.png") no-repeat center; cursor: pointer; }

.search_close { position: absolute; right: 100px; top: 100px; }
.search_close { font-size: 0; width: 50px; height: 50px; cursor: pointer; }
.search_close:before { content: ""; display: block; width: 100%; height: 1px; background: #000; transform: translateY(25px) rotate(45deg); }
.search_close:after { content: ""; display: block; width: 100%; height: 1px; background: #000; transform: translateY(25px) rotate(-45deg); }


@media (max-width : 1400px) {
  header nav { margin: 0; }
  header .gnb { display: none; }
  header .btn_ham { display: block; }
  header .btn_search { display: none; }
}

@media (max-width : 768px) {
  header h1 img { width: 100px; }
}

/* main 공통 */
main section:not(:first-child) { margin: 200px 0; }
main h2 { font-size: 6rem; text-transform: uppercase; padding-bottom: 40px; }
main .btn_more { text-transform: uppercase; transition: all 0.5s; display: inline-block; padding: 15px 50px 10px; border: 1px solid #000; color: #000; font-weight: 700; }
main .btn_more:hover { background: #000; color: #fff; }

@media (max-width : 1400px) {
    main section:not(:first-child) { margin: 140px 0; }
    main h2 { font-size: 4rem; }
    main .btn_more { padding: 10px 40px 5px; }
}

@media (max-width : 768px) {
    main section:not(:first-child) { margin: 100px 0; }
    main h2 { font-size: 3rem; }
    main .btn_more { font-size: 1.4rem; padding: 8px 30px 5px; }
}

/* visaul */
.visual h2 { display: none; }
.visual ul li { position: relative; height: 100vh; }
.visual ul .visual_01 { background: url("../images/mv_01.jpg") no-repeat center / cover; }
.visual ul .visual_02 { background: url("../images/mv_02.jpg") no-repeat center / cover; }
.visual ul li .visual_txt { text-transform: uppercase; position: absolute; left: 0; top: 50%; transform: translate(0,-50%); width: 100%; text-align: center; color: #fff; }
.visual ul li .visual_txt span { font-size: 3.0rem; }
.visual ul li .visual_txt h3 { font-size: 6.0rem; padding: 50px 0 0; }
.visual .swiper-button-next,.visual .swiper-button-prev { color: #fff; }
.visual .swiper-pagination { bottom: 50px; color: #fff; }

@media (max-width : 1400px) {
  .visual ul li .visual_txt span { font-size: 2.5rem; }
  .visual ul li .visual_txt h3 { font-size: 5.0rem; }
}


@media (max-width : 768px) {
  .visual ul li .visual_txt span { font-size: 2.0rem; }
  .visual ul li .visual_txt h3 { font-size: 3.5rem; }
  .visual .swiper-button-next,.visual .swiper-button-prev { display: none; }
}


/* about */
.about .inner { display: flex; align-items: center; gap: 100px; flex-wrap: wrap; }
.about .inner div { width: calc((100% - 100px) / 2); }
.about .about_img img { width: 100%; display: block; }
.about .about_txt p { font-size: 1.8rem; letter-spacing: -1px; color: #999; padding: 0 0 20px; }

@media (max-width : 1200px) {
  .about .inner { gap: 50px; }
  .about .inner div { width: 100%; }
  .about .about_txt p { font-size: 1.6rem; }
}

@media (max-width : 768px) {
  .about .inner { gap: 30px; }
  .about .about_txt p { font-size: 1.4rem; }
}


/* artist */
.artist { text-align: center; }
.artist .inner { max-width: 1400px; }
.artist .artist_list { display: flex; gap: 30px; flex-wrap: wrap; margin-bottom: 30px; }
.artist .artist_list li { width: calc((100% - 90px) / 4); position: relative; overflow: hidden; }
.artist .artist_list li img { width: 100%;}

.artist .artist_list li h3 { transition: all 0.5s; display: flex; flex-direction: column; justify-content: center; font-weight: 400; font-size: 2.5rem; position: absolute; width: 100%; height: 100%; left: 100%; top: 0; background: rgba(0,0,0,0.7); color: #fff; opacity: 0; }
.artist .artist_list li:hover h3 { left: 0; opacity: 1; }
.artist .artist_list li h3 span:nth-child(2) { font-size: 1.4rem; }

@media (max-width : 1200px) {
  .artist .artist_list li h3 { opacity: 1; left: 0; font-size: 1.6rem; height: auto; top: auto; bottom: 0; padding: 15px 0; }
  .artist .artist_list li h3 span:nth-child(2) { font-size: 1.2rem; }
}

@media (max-width : 768px) {
  .artist .artist_list { gap: 20px; }
  .artist .artist_list li { width: calc((100% - 20px) / 2); }
  .artist .menu_list li a h3 { font-size: 2rem; }
}


/* insight */
.insight .insight_list li .thumb { position: relative; }
.insight .insight_list li .thumb div { transition: all 0.5s; position: absolute; background: #fff; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; }
.insight .insight_list li:hover .thumb div { opacity: 1; }
.insight .insight_list li img { width: 100%; display: block; }
.insight .insight_list li dl dt { font-size: 2rem; padding: 20px 0 10px; }
.insight .insight_list li dl dd:nth-of-type(1) { color: #cbb390; }
.insight .insight_list li dl dd:nth-of-type(2) { color: #999; }
.insight .btn_more { background: #000; color: #fff; }

@media (max-width : 1400px) {
  .insight .insight_list li dl dt { font-size: 2rem; }
}

@media (max-width : 768px) {
  .insight .inner { padding: 0 50px; }
  .insight h2 { text-align: center; }
  .insight .insight_list li.swiper-slide-active .thumb div { opacity: 1; }
}


/* footer*/
footer { background: #75644c; color: rgba(255,255,255,0.8); text-align: center; }
footer .inner { padding: 5rem 5%; }
footer address { line-height: 2; padding: 2rem 0 0; }
footer address span:nth-of-type(odd) { opacity: 0.5; }
footer address span:nth-of-type(even) { display: inline-block; padding: 0 16px 0 8px; }
footer .copy { background: #000; text-align: center; padding: 20px 0; }

.none { display: none; }


@media (max-width : 768px) {
	footer { font-size: 1.2rem; }
  footer .inner { padding: 3rem 5%; }
  .none { display: block; }
}
